@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-Black.eot);
    src: url(./Raleway/Raleway-Black.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-Black.otf) format("otf"),
        url(./Raleway/Raleway-Black.svg#Raleway-Black) format("svg"),
        url(./Raleway/Raleway-Black.ttf) format("truetype"),
        url(./Raleway/Raleway-Black.woff) format("woff"),
        url(./Raleway/Raleway-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-BlackItalic.eot);
    src: url(./Raleway/Raleway-BlackItalic.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-BlackItalic.otf) format("otf"),
        url(./Raleway/Raleway-BlackItalic.svg#Raleway-BlackItalic) format("svg"),
        url(./Raleway/Raleway-BlackItalic.woff) format("woff"),
        url(./Raleway/Raleway-BlackItalic.woff2) format("woff2"),
        url(./Raleway/Raleway-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-Bold.eot);
    src: url(./Raleway/Raleway-Bold.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-Bold.otf) format("otf"),
        url(./Raleway/Raleway-Bold.svg#Raleway-Bold) format("svg"),
        url(./Raleway/Raleway-Bold.ttf) format("truetype"),
        url(./Raleway/Raleway-Bold.woff) format("woff"),
        url(./Raleway/Raleway-Bold.woff2) format("woff2");
        font-weight: 700;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-BoldItalic.eot);
    src: url(./Raleway/Raleway-BoldItalic.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-BoldItalic.otf) format("otf"),
        url(./Raleway/Raleway-BoldItalic.svg#Raleway-BoldItalic) format("svg"),
        url(./Raleway/Raleway-BoldItalic.ttf) format("truetype"),
        url(./Raleway/Raleway-BoldItalic.woff) format("woff"),
        url(./Raleway/Raleway-BoldItalic.woff2) format("woff2");
        font-weight: 700;
        font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-ExtraBold.eot);
    src: url(./Raleway/Raleway-ExtraBold.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-ExtraBold.otf) format("otf"),
        url(./Raleway/Raleway-ExtraBold.svg#Raleway-ExtraBold) format("svg"),
        url(./Raleway/Raleway-ExtraBold.ttf) format("truetype"),
        url(./Raleway/Raleway-ExtraBold.woff) format("woff"),
        url(./Raleway/Raleway-ExtraBold.woff2) format("woff2");
        font-weight: 800;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-ExtraBoldItalic.eot);
    src: url(./Raleway/Raleway-ExtraBoldItalic.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-ExtraBoldItalic.otf) format("otf"),
        url(./Raleway/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic)
            format("svg"),
        url(./Raleway/Raleway-ExtraBoldItalic.ttf) format("truetype"),
        url(./Raleway/Raleway-ExtraBoldItalic.woff) format("woff"),
        url(./Raleway/Raleway-ExtraBoldItalic.woff2) format("woff2");
        font-weight: 800;
        font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-ExtraLight.eot);
    src: url(./Raleway/Raleway-ExtraLight.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-ExtraLight.otf) format("otf"),
        url(./Raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight) format("svg"),
        url(./Raleway/Raleway-ExtraLight.ttf) format("truetype"),
        url(./Raleway/Raleway-ExtraLight.woff) format("woff"),
        url(./Raleway/Raleway-ExtraLight.woff2) format("woff2");
        font-weight: 200;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-ExtraLightItalic.eot);
    src: url(./Raleway/Raleway-ExtraLightItalic.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-ExtraLightItalic.otf) format("otf"),
        url(./Raleway/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic)
            format("svg"),
        url(./Raleway/Raleway-ExtraLightItalic.ttf) format("truetype"),
        url(./Raleway/Raleway-ExtraLightItalic.woff) format("woff"),
        url(./Raleway/Raleway-ExtraLightItalic.woff2) format("woff2");
        font-weight: 200;
        font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-Italic.eot);
    src: url(./Raleway/Raleway-Italic.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-Italic.otf) format("otf"),
        url(./Raleway/Raleway-Italic.svg#Raleway-Italic) format("svg"),
        url(./Raleway/Raleway-Italic.ttf) format("truetype"),
        url(./Raleway/Raleway-Italic.woff) format("woff"),
        url(./Raleway/Raleway-Italic.woff2) format("woff2");
        font-weight: 400;
        font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-Light.eot);
    src: url(./Raleway/Raleway-Light.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-Light.otf) format("otf"),
        url(./Raleway/Raleway-Light.svg#Raleway-Light) format("svg"),
        url(./Raleway/Raleway-Light.ttf) format("truetype"),
        url(./Raleway/Raleway-Light.woff) format("woff"),
        url(./Raleway/Raleway-Light.woff2) format("woff2");
        font-weight: 300;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-LightItalic.eot);
    src: url(./Raleway/Raleway-LightItalic.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-LightItalic.otf) format("otf"),
        url(./Raleway/Raleway-LightItalic.svg#Raleway-LightItalic) format("svg"),
        url(./Raleway/Raleway-LightItalic.ttf) format("truetype"),
        url(./Raleway/Raleway-LightItalic.woff) format("woff"),
        url(./Raleway/Raleway-LightItalic.woff2) format("woff2");
        font-weight: 300;
        font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-Medium.eot);
    src: url(./Raleway/Raleway-Medium.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-Medium.otf) format("otf"),
        url(./Raleway/Raleway-Medium.svg#Raleway-Medium) format("svg"),
        url(./Raleway/Raleway-Medium.ttf) format("truetype"),
        url(./Raleway/Raleway-Medium.woff) format("woff"),
        url(./Raleway/Raleway-Medium.woff2) format("woff2");
        font-weight: 500;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-Regular.eot);
    src: url(./Raleway/Raleway-Regular.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-Regular.otf) format("otf"),
        url(./Raleway/Raleway-Regular.svg#Raleway-Regular) format("svg"),
        url(./Raleway/Raleway-Regular.ttf) format("truetype"),
        url(./Raleway/Raleway-Regular.woff) format("woff"),
        url(./Raleway/Raleway-Regular.woff2) format("woff2");
        font-weight: 400;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-SemiBold.eot);
    src: url(./Raleway/Raleway-SemiBold.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-SemiBold.otf) format("otf"),
        url(./Raleway/Raleway-SemiBold.svg#Raleway-SemiBold) format("svg"),
        url(./Raleway/Raleway-SemiBold.ttf) format("truetype"),
        url(./Raleway/Raleway-SemiBold.woff) format("woff"),
        url(./Raleway/Raleway-SemiBold.woff2) format("woff2");
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-SemiBoldItalic.eot);
    src: url(./Raleway/Raleway-SemiBoldItalic.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-SemiBoldItalic.otf) format("otf"),
        url(./Raleway/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic)
            format("svg"),
        url(./Raleway/Raleway-SemiBoldItalic.ttf) format("truetype"),
        url(./Raleway/Raleway-SemiBoldItalic.woff) format("woff"),
        url(./Raleway/Raleway-SemiBoldItalic.woff2) format("woff2");
        font-weight: 600;
        font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-Thin.eot);
    src: url(./Raleway/Raleway-Thin.eot?#iefix) format("embedded-opentype"),
        url(./Raleway/Raleway-Thin.otf) format("otf"),
        url(./Raleway/Raleway-Thin.svg#Raleway-Thin) format("svg"),
        url(./Raleway/Raleway-Thin.ttf) format("truetype"),
        url(./Raleway/Raleway-Thin.woff) format("woff"),
        url(./Raleway/Raleway-Thin.woff2) format("woff2");
        font-weight: 100;
        font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url(./Raleway/Raleway-ThinItalic.eot);
    src: url(./Raleway/Raleway-ThinItalic.eot?#iefix)
            format("embedded-opentype"),
        url(./Raleway/Raleway-ThinItalic.otf) format("otf"),
        url(./Raleway/Raleway-ThinItalic.svg#Raleway-ThinItalic) format("svg"),
        url(./Raleway/Raleway-ThinItalic.ttf) format("truetype"),
        url(./Raleway/Raleway-ThinItalic.woff) format("woff"),
        url(./Raleway/Raleway-ThinItalic.woff2) format("woff2");
        font-weight: 100;
        font-style: italic;
}
